[DEFAULT]
# define own IP address
my_ip = { ip_address_cinder }
rootwrap_config = /etc/cinder/rootwrap.conf
api_paste_confg = /etc/cinder/api-paste.ini
state_path = /var/lib/cinder
auth_strategy = keystone

# RabbitMQ connection info
transport_url = rabbit://openstack:rabbit_password@controller
enable_v3_api = True

# Glance connection info
glance_api_servers = http://controller:9292

# OK with empty value now
enabled_backends = lvm

# MariaDB connection info
[database]
connection = mysql+pymysql://cinder:password@controller/cinder

# Keystone auth info
[keystone_authtoken]
www_authenticate_uri = http://controller:5000
auth_url = http://controller:5000
memcached_servers = controller:11211
auth_type = password
project_domain_name = default
user_domain_name = default
project_name = service
username = cinder
password = cinder_password

[oslo_concurrency]
lock_path = $state_path/tmp

[lvm]
target_helper = tgtadm
target_protocol = iscsi
# IP address of Storage Node
target_ip_address = { ip_address_cinder }

# volume group name created on [1]
volume_group = vg_volume01
volume_driver = cinder.volume.drivers.lvm.LVMVolumeDriver
volumes_dir = $state_path/volumes